input[type="file"] {
  margin: auto;
  padding: 0.5em; 
  border: 2px dashed #bbb;
  background-color: "none";
  transition: border-color .25s ease-in-out;
  color: #fff;
  &::file-selector-button {
    padding: 0.3em 1em;
    border-width: 0;
    border-radius: 2em;
    background-color: hsl(210 70% 30%);
    color: hsl(210 40% 90%);
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin-right: 1em;
  }

  &:hover {
    border-color: #888;

    &::file-selector-button {
      background-color: hsl(210 70% 40%);
    }
  }
}

.rainbow-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  padding: 25px 45px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border-radius: 500px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    270deg,
    #ff416c,
    #ff4b2b,
    #ffeb3b,
    #00ff87,
    #00c6ff,
    #8e2de2,
    #ff416c
  );
  background-size: 300% 300%;
  animation: rainbow-flow 3s ease infinite;
}

@keyframes rainbow-flow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}