.card {
  padding: 12px;
  background: linear-gradient(90deg,
    #8e44ad 0%,
    #9b59b6 25%,
    #2980b9 50%,
    #3498db 75%,
    #8e44ad 100%
  );
  border-radius: 10px;
  background-size: 200% 200%;
  animation: anim 2s linear infinite;
}
.card__body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_title {
color:white;
text-transform: uppercase;
letter-spacing: 5px;
}
@keyframes anim
{
    100%
    {
        background-position-x: -200%;
    }
}