@import "tailwindcss";

@font-face {
  font-family: "pokemon-dp-pro";
  src: url("./assets/fonts/pokemon-dp-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-pokemon {
  font-family: "pokemon-dp-pro";
}
